NEXT_PUBLIC_COGNITO_DOMAIN=https://replace-me.auth.us-west-2.amazoncognito.com
NEXT_PUBLIC_COGNITO_CLIENT_ID=replace-me
NEXT_PUBLIC_COGNITO_REDIRECT_URI=http://localhost:3000/api/auth/callback
NEXT_PUBLIC_COGNITO_LOGOUT_URI=http://localhost:3000
NEXT_PUBLIC_COGNITO_SCOPES=openid email profile
