DATABASE_URL=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=marketplace
DB_USER=wumbo_marketplace
DB_PASSWORD=changeme
DB_SSL_ENABLED=false
AWS_REGION=us-west-2
EVENT_BUS_NAME=
PUBLISHER_BATCH_SIZE=10
ALLOW_DEV_IDENTITY_HEADER=true
