DATABASE_URL=
DB_HOST=localhost
DB_PORT=15432
DB_NAME=core
DB_USER=core
DB_PASSWORD=changeme
DB_SSL_ENABLED=true
AWS_REGION=us-west-2
EVENT_BUS_NAME=
PUBLISHER_BATCH_SIZE=10
ALLOW_DEV_IDENTITY_HEADER=true
